<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Compiler</title>
    {% load static %}
    <link href="{% static 'compiler/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css">
    <script src="https://kit.fontawesome.com/75be4423cf.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.3/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.3/mode/javascript/javascript.min.js"></script>
    <script src="codemirror.js"></script>
    <src="mode/javascript/javascript.js"></script>
  </head>
  <body>
    <div class="grid-container">
      <div class="navbar">
        <div class="dropdown">
          <button class="dropbtn">Plik 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            {% comment %} {% block content %} {% endcomment %}
            {% comment %} <form method="POST"> {% endcomment %}
              <input type="hidden" name="" value="" id="file-id">
              <button onclick="saveFile()">Zapisz</button>
              <button onclick="compile()" name="compile">Kompiluj</button>
            {% comment %} </form> {% endcomment %}
            {% comment %} {% endblock %} {% endcomment %}
              <button onclick="downloadNasm()">Pobierz wynik kompilacji</button>
          </div>
        </div> 
        <div class="dropdown">
          <button class="dropbtn">Edycja 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <button onclick="createDir(0)">Dodaj Katalog</button>
            <button onclick="createFile(0)">Dodaj Plik</button>
            {% comment %} <a href="{% url 'compiler:add_directory' %}">Dodaj Katalog</a>
            <a href="{% url 'compiler:add_file' %}">Dodaj Plik</a>
            <a href="{% url 'compiler:remove_directory' %}">Usuń Katalog</a>
            <a href="{% url 'compiler:remove_file' %}">Usuń Plik</a> {% endcomment %}
          </div>
        </div> 
        <div class="dropdown">
          <button class="dropbtn">Opcje 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <button onclick="hideSections()">Ukryj sekcje</button>
            <button onclick="showSections()">Rozwiń sekcje</button>
          </div>
        </div> 
        <div class="dropdown">
          <button class="dropbtn">Pomoc 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
        <div class="navbar-right">
          <a href="{% url 'compiler:logout' %}">Wyloguj</a>
        </div>
        <div class="navbar-right">
          <button type="button" class="theme" onclick="switchTheme()">Change theme</button>
        </div>
      </div>

      <div class="file-selection">
          {% csrf_token %}
          <ul class = "tree">
            {{ root.root | safe }}
          </ul>
      </div>

      <div class="program-text">
        <label class="file_name">{{ file.path }}</label>
        <textarea id="code" name="content">{% if file %}{{ file.content }}{% endif %}</textarea>
      </div>
      
      <div class="filename" id="nasm-filename"></div>
      <div class="code-fragment-raw" id="to-download">{% if compile_result %}{{ compile_result | safe}}{% endif %}</div>
      <div class="code-fragment">{% if compile_result_display %}{{ compile_result_display | safe}}{% endif %}</div>
      <div class="tabs">
        <div class="nav">

          <button class="trapezium" type="button" onclick = "openTab(event, 'STANDARD')" id="defaultOpen">
            STANDARD
          </button>
          <button class="trapezium" type="button" onclick = "openTab(event, 'OPTYMALIZACJE')">
            OPTYMALIZACJE
          </button>
          <button class="trapezium" type="button" onclick = "openTab(event, 'PROCESOR')">
            PROCESOR
          </button>
          <button class="trapezium" type="button" onclick = "openTab(event, 'ZALEŻNE')">
            ZALEŻNE 
          </button>
        </div>
        <div id="STANDARD" class="tab-content">
          <input type="radio" name="standard" value="--std-c89" onclick="setStandard('--std-c89')">
          <label>C89</label><br>
          <input type="radio" name="standard" value="--std-c99" onclick="setStandard('--std-c89')">
          <label>C99</label><br>
          <input type="radio" name="standard" value="--std-c11" onclick="setStandard('--std-c89')">
          <label>C11</label><br>
        </div>
        <div id="OPTYMALIZACJE" class="tab-content">
          <input type="checkbox" name="nogcse" id="nogcse" onclick="toggleSelection('nogcse')">
          <label>nogcse</label><br>
          <input type="checkbox" name="noinvariant" id="noinvariant" onclick="toggleSelection('noinvariant')">
          <label>noinvariant</label><br>
          <input type="checkbox" name="noinduction" id="noinduction" onclick="toggleSelection('noinduction')">
          <label>noinduction</label><br>
        </div>
        <div id="PROCESOR" class="tab-content">
          <input type="radio" name="processor" value="-mmcs51" onclick="showDep(event, 'MCS51')" id="defaultChosen">
          <label>MCS51</label><br>
          <input type="radio" name="processor" value="-mz80" onclick="showDep(event, 'Z80')">
          <label>Z80</label><br>
          <input type="radio" name="processor" value="-mstm8" onclick="showDep(event, 'STM8')">
          <label>STM8</label><br>
        </div>
        <div id="ZALEŻNE" class="tab-content">
          <div id="MCS51" class="dependent-content">
            <input type="radio" name="options" value="--model-small">
            <label>small model</label><br>
            <input type="radio" name="options" value="--model-medium ">
            <label>medium model</label><br>
            <input type="radio" name="options" value="--model-large">
            <label>large model</label><br>
            <input type="radio" name="options" value="--model-huge">
            <label>huge model</label><br>
          </div>
          <div id="Z80" class="dependent-content">
            <input type="radio" name="options" value="--emit-externs">
            <label>emit externs list in generated asm</label><br>
            <input type="radio" name="options" value="--allow-undocumented-instructions">
            <label>allow use of undocumented instruction</label><br>
            <input type="radio" name="options" value="--fno-omit-frame-pointer">
            <label>do not omit frame pointer</label><br>
          </div>
          <div id="STM8" class="dependent-content">
            <input type="radio" name="options" value="--model-medium">
            <label>medium model</label><br>
            <input type="radio" name="options" value="--model-large">
            <label>large model</label><br>
            <input type="radio" name="options" value="--out-fmt-elf">
            <label>output executable in ELF format</label><br>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'compiler/main.js' %}"></script>
  </body>
  </html>